<div class="body">
  <p>Aprovado</p>
  <div class="container">
    <h1>Proposta Nº 00001</h1>
    <mat-divider></mat-divider>
    <img height="97px" width="103px" src="../../../assets/aprovado.png" alt="" />
    <h2>STATUS: APROVADO</h2>
    <mat-divider></mat-divider>
    <ul>
      <li>Taxa de 8% ao ano para correntistas</li>
      <li>Taxa de 10% ao ano para não correntistas</li>
      <li>Parcela inicial R$ XXX,XX</li>
      <li>Valor total aprovado: R$ X.XXX,XX</li>
      <li>Seguro Só Vamu Security.</li>
      <li>Desconto na primeira e na última parcela</li>
    </ul>
    <button mat-flat-button color="primary" class="btn" routerLink="/inicial">
      IR PARA TELA INICIAL
    </button>
  </div>
</div>
