.body {
  width: auto;
  padding: 16px;
  background-color: #e5e5e5;
  height: 100%;
}

.aprovado {
  font-size: 1.5em;
  font-weight: 500;
}

.container {
  padding: 16px;
  background-color: #ffffff;
  border-radius: 4px;
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
}


h3 {
  text-align: center;
  margin-top: 16px;
  font-size: 3em;
}

img {
  margin: 16px auto;
  align-self: center;
}

.status {
  color: #a5d76e;
  text-align: center;
}

ul {
  align-self: center;
}

.container li {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 17px;
}

button {
  margin: 10px;
  margin-top: 42px;
  border-radius: 4px;
  width: 228px;
  align-self: center;
}
