*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    }

    nav{
    height: 80px;
    width: 100%;
    border: #000000 solid 1px;
    }

    label.logo{
    font-size: 35px;
    line-height: 80px;
    font-weight: 600;
    padding: 100px;
    cursor: pointer;
    }

    nav ul{
    float: right;
    margin-right: 20px;
    }

    nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    }

    nav ul li a{
    color: #000000;
    font-size: 17px;
    padding: 7px 17px;
    border-radius: 3px;
    font-weight: 600;
    }

    .check-btn{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    }

    #check{
    display: none;
    }
    