<div class="body">
  <p>Dados do proponente</p>
  <div class="container">
    <form [formGroup]="client">
      <mat-form-field appearance="outline">
        <mat-label>Nome completo</mat-label>

        <input
          matInput
          #input
          placeholder="Nome Completo"
          formControlName="name"
        />

        <mat-error> Preencha com seu nome completo </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Profissão</mat-label>

        <input matInput #input placeholder="Profissão" formControlName="job" />

        <mat-error> Preencha com a sua profissão </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>

        <input matInput #input placeholder="CPF" formControlName="cpf" />

        <mat-error> Preencha com o seu CPF </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>

        <input
          matInput
          placeholder="example@example.com"
          formControlName="email"
        />

        <mat-error> Preencha com um email válido </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Data de nascimento</mat-label>

        <input
          matInput
          placeholder="Data de nascimento"
          formControlName="dateBirth"
        />

        <mat-error> Preencha com sua data de nascimento </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>CEP</mat-label>

        <input matInput placeholder="CEP" formControlName="zipCode" />

        <mat-error> O CEP deve ter 9 dígitos </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Celular</mat-label>

        <input matInput placeholder="Celular" formControlName="celPhone" />

        <mat-error> Preencha com seu celular </mat-error>
      </mat-form-field>
    </form>

    <mat-divider></mat-divider>

    <div class="footer">
      <button
        mat-stroked-button
        class="btn-cancelar"
        color="primary"
        routerLink=""
      >
        CANCELAR
      </button>

      <button
        mat-flat-button
        color="primary"
        class="btn"
        routerLink="/local-form"
        [disabled]="client.invalid"
      >
        CONTINUAR
      </button>
    </div>
  </div>
</div>
