<div class="body">
  <p>Dados do proponente</p>
  <div class="container">
    <form class="client" [formGroup]="client">
      <div class="form-container">
        <mat-form-field appearance="outline">
          <mat-label>Nome completo</mat-label>

          <input
            matInput
            #input
            placeholder="Name"
            formControlName="Nome Completo"
            required
          />

          <mat-hint> Preencha com seu nome completo </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Profissão</mat-label>

          <input
            matInput
            #input
            placeholder="job"
            formControlName="Profissão"
            required
          />

          <mat-hint> Preencha com a sua profissão </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>

          <input
            matInput
            #input
            placeholder="cpf"
            formControlName="CPF"
            required
          />

          <mat-hint> Preencha com o seu CPF </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>

          <input
            matInput
            placeholder="example@example.com"
            formControlName="email"
            required
          />

          <mat-error> Preencha com um email válido </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Data de nascimento</mat-label>

          <input
            matInput
            placeholder="Data de nascimento"
            formControlName="datebirth"
            required
          />

          <mat-error> Preencha com sua data de nascimento </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>CEP</mat-label>

          <input
            matInput
            placeholder="CEP"
            formControlName="zipcode"
            required
          />

          <mat-error> O CEP deve ter 9 dígitos </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Celular</mat-label>

          <input
            matInput
            placeholder="Celular"
            formControlName="celphone"
            required
          />

          <mat-error> Preencha com seu celular </mat-error>
        </mat-form-field>
      </div>
    </form>

    <button mat-stroked-button class="btn" color="primary" routerLink="">
      CANCELAR
    </button>

    <button
      mat-flat-button
      color="primary"
      class="btn"
      routerLink="/local-form"
      [disabled]="client.invalid"
    >
      CONTINUAR
    </button>
  </div>
</div>
