<div class="body">
  <p>Reprovado</p>
  <div class="container">
    <h1>Proposta Nº 00001</h1>
    <hr />
    <img src="../../../assets/reprovado.png" alt="" />
    <h2>STATUS: REPROVADO</h2>
    <hr />
    <p>Infelizmente não foi possível aprovar seu financiamento.</p>
    <p>
      Não desanime, reunimos algumas dicas que podem ajudar na sua próxima
      simulação:
    </p>
    <ul>
      <li>Mantenha seu CPF em dia e sem restrições.</li>
      <li>Dados de endereço, e-mail, telefone sempre atualizados.</li>
      <li>Melhore seu relacionamento com o banco, movimentando sua conta.</li>
    </ul>
    <button mat-flat-button color="primary" class="btn" routerLink="inicial">
      IR PARA TELA INICIAL
    </button>
  </div>
</div>
