<div class="body">
  <h2 tabindex="0">Reprovado</h2>
  <div class="container">
    <div tabindex="0" class="card">
      <h1>Proposta <b aria-label="número">Nº</b> 00001</h1>
      <img src="../../../assets/reprovado.png" alt="" />
      <h2>STATUS: REPROVADO</h2>

      <mat-divider></mat-divider>
      <p>Infelizmente não foi possível aprovar seu financiamento.</p>
      <p>
        Não desanime, reunimos algumas dicas que podem ajudar na sua próxima
        simulação:
      </p>

      <ul>
        <li>Mantenha seu CPF em dia e sem restrições.</li>
        <li>Dados de endereço, e-mail, telefone sempre atualizados.</li>
        <li>Melhore seu relacionamento com o banco, movimentando sua conta.</li>
      </ul>
    </div>
    <button mat-flat-button color="primary" class="btn" routerLink="/inicial">
      IR PARA A TELA INICIAL
    </button>
  </div>
</div>
