.body {
  width: auto;
  padding: 16px;
  background-color: #e5e5e5;
  height: 100%;
}

p {
  font-size: 1.5em;
  font-weight: 500;
}

.container {
  padding: 16px;
  background-color: #ffffff;
  border-radius: 4px;
  width: 95%;
  height: 87vh;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-top: 16px;
  font-size: 3em;
}

img {
  align-self: center;
}

.container p {
  margin-top: 17px;
  align-self: center;
}

h2 {
  color: #ae0000;
  text-align: center;
}

ul {
  align-self: center;
}

.container li {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 17px;
}

button {
  margin: 10px;
  margin-top: 42px;
  border-radius: 4px;
  width: 228px;
  align-self: center;
}
